// Website colors
$theme-color: #F0B242;
$theme-color-darker: #d69d33;
$green-color: #6B8232;
$dark-color: #12151e;
$white-color: #ffffff;
$footer-color: #363636;

// Website font
$default-font: 'Quicksand', sans-serif;