body,
html {
    font-family: 'Segoe UI', sans-serif;
    scroll-behavior: smooth;
}

.navbar {
    background-color: #F0B242 !important;
}

.navbar ul.navbar-nav li.nav-item {
    padding-right: 10px;
}

.navbar ul li .nav-link {
    font-size: 18px;
}

.navbar ul.navbar-nav li.nav-item > a:hover {
    color: #ffffff;
}

.carousel .carousel-inner  img {
    height: 546px;
    width: 100%;
    object-fit: cover; 
}

.desc {
    margin: 40px 0 20px;
}

.desc h3 {
    color: #85108C;
}

.desc p {
    margin-top: 30px;
    line-height: 2rem;
}

#rooms .room-desc h1,
#service-facility .service-desc h1,
#about .about-desc h1,
#contact .contact-desc h1 {
    color: #6B8232;
    font-weight: 600;
}

#rooms .room-options {
    margin-top: 20px;
}

#rooms .card {
    border: 1px solid #F0B242;
}

#rooms .room-options .card-header {
    background-color: #F0B242;
    color: #ffffff;
    font-weight: bold;
}

#rooms .card .img-fluid {
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

#rooms .card .card-block ul.card-text {
    padding-left: 20px;
}

#rooms .card .btn-primary {
    background-color: #85108C;
    border: 1px solid #85108C;
    text-transform: uppercase;
}

#rooms .card .btn-primary:hover {
    background-color: #6B8232;
    border: 1px solid #6B8232;
}

#rooms .card .btn-primary:active {
    box-shadow: #6B8232;
}

#service-facility,
#about,
#contact {
    margin-top: 40px;
}

#service-facility  img {
    height: 100px;
    width: auto;
}

#service-facility p {
    font-size: 15px;
    line-height: 1.8rem;
}

#service-facility h3 {
    color: #85108C;
    margin: 10px 0;
    font-weight: 600;
}

#about .about-wrapper img {
    height: 250px;
    width: 100%;
    object-fit: contain;
}

#about .about-1,
#about .about-2 {
    line-height: 2rem;
    font-size: 15px;
}

footer {
    background-color: #F0B242;
    padding: 10px;
}

footer p {
    margin-bottom: 0;
}

footer .copyright {
    text-align: right;
}



/* Book Now Button */
#rooms .card .book-btn {
    float: right;
}

@media(max-width: 992px) {
    #rooms .room-desc h1,
    #service-facility .service-desc h1,
    #about .about-desc h1,
    #contact .contact-desc h1 {
        text-align: center;
    }

    .contact-desc .location {
        text-align: center;
    }
}

@media(max-width: 768px) {
    .carousel .carousel-inner  img {
        height: auto;
        width: 100%;
    }

    #rooms .room-desc h1,
    #service-facility .service-desc h1,
    #about .about-desc h1,
    #contact .contact-desc h1 {
        text-align: center;
    }

    #rooms .card .book-btn {
        width: 100%;
        margin-bottom: 5px;
    }

    #rooms .card .book-btn button {
        padding: 10px;
    }

    .contact-desc .location {
        text-align: center;
    }
}

@media(max-width: 576px) {
    footer,
    footer .copyright {
        text-align: center;
    }
}